.calendar-table {
  ul {
    list-style-type: none;
    padding-left: 2px;
    margin: 5px 0;
  }

  table {
    width: 100%;

    tr {
      vertical-align: baseline;
    }

    thead tr th {
      border-top: none;
      font-weight: bold;
      text-align: left;
    }

    tbody tr td:nth-child(2) {
      font-weight: 600;
    }

    tbody tr td,
    tbody tr th {
      vertical-align: middle;
    }

    a {
      font-size: unset;
      white-space: nowrap;
    }
  }
}

.calendar-table.is-updating table {
  opacity: 0.5;
}