.calendar {
  overflow-x: scroll;

  input, select {
    border: 1px solid black;
    height: 30px;
    width: 200px;
    margin: 0;
  }

  .calendar-table {

    ul {
      list-style-type: none;
      padding-left: 2px;
      margin: 5px 0;
    }

    table {
      width: 100%;

      thead tr td {
        font-weight: bold;
      }

      font-size: smaller;
      a {
        font-size: smaller;
      }
  
      #who, #when {
        width: 10%;
      }
  
      #what {
        max-width: 40%;
      }
  
      #target {
        width: 20%;
      }
  
      #chapters {
        width: 30%;
      }
    }

    @media (max-width: 659px) {
      table {
        width: 100vw;
        display: block;
        overflow: scroll;
      }
    }
  }
  
  .calendar-ics {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 8px;

    .ics_download {
      padding: 0.5em;
      line-height: normal;
    }
  }

  .calendar-form-container {
    hr {
      border: 0.5px solid #8c3c4f
    }
    .calendar-form {
      .calendar-title-prefix-hint {
        font-weight: 200;
        font-size: 15px;
        width: 206px;
      }

      list-style-type: none;
      padding: 0;
      max-width: 50%;

      @media (max-width: 770px) {
        max-width: 90%;
        label {
          min-width: 80px;
        }
      }

      label {
        min-width: 200px;
      }

      li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;

        #puffer {
          width: 200px;
        }

        #responsible {
          width: 206px;
        }
      }
    }
  }
}