.calendar {
  overflow-x: scroll;
  .calendar-table {

    table {
      thead tr td {
        font-weight: bold;
      }
  
      #who, #when {
        width: 10%;
      }
  
      #what {
        max-width: 40%;
      }
  
      #target {
        width: 20%;
      }
  
      #chapters {
        width: 30%;
      }
    }
  }
  .calendar-ics {
    margin-bottom: 20px;
  }

  .calendar-form-container {
    .calendar-form {
      list-style-type: none;
      padding: 0;
      max-width: 50%;

      li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;

        input, select {
          border: 1px solid black;
          height: 30px;
          width: 200px;
          margin: 0;
        }
      }
    }
  }
}