.calendar {
  overflow-x: auto;

  input, select {
    border: 1px solid black;
    width: 200px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1rem;
    border-radius: 3px;
  }

  select {
    padding: 4px 0;
  }

  .calendar-table {

    ul {
      list-style-type: none;
      padding-left: 2px;
      margin: 5px 0;
    }

    table {
      width: 100%;

      tr {
        vertical-align: baseline;
      }

      thead tr th {
        border-top: none;
        font-weight: bold;
        text-align: left;
      }

      tbody tr td:nth-child(2) {
        font-weight: 600;
      }

      tbody tr td,
      tbody tr th {
        vertical-align: middle;
      }
      
      a {
        font-size: unset;
        white-space: nowrap;
      }
    }
  }

  @media (max-width: 659px) {
    .calendar-table {
      width: 100%;
      display: block;
      overflow-x: auto;
    }
  }

  .calendar-form-container {
    hr {
      border: 0.5px solid #8c3c4f
    }

    .calendar-form {
      display: grid;
      row-gap: 10px;

      .calendar-title-prefix-hint {
        font-weight: 200;
        font-size: 15px;
        width: 200px;
      }

      list-style-type: none;
      padding: 0;
      max-width: 500px;

      @media (max-width: 770px) {
        label {
          min-width: 80px;
        }
      }
      @media (max-width: 590px) {
        li {
          flex-direction: column;
        }
      }

      hr {
        width: 100%;
      }

      label {
        min-width: 220px;
        max-width: 100%;
        line-height: normal;
      }

      li {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        row-gap: 4px;
        column-gap: 32px;

        input, select, .input {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }
}