.calendar {
  overflow-x: auto;

  input, select {
    border: 1px solid black;
    height: 30px;
    width: 200px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
  }
  
  select {
    padding: 4px 0;
  }

  .calendar-table {

    ul {
      list-style-type: none;
      padding-left: 2px;
      margin: 5px 0;
    }

    table {

      thead tr td {
        font-weight: bold;
      }

      font-size: smaller;

      a {
        font-size: smaller;
      }

      #who, #when {
        width: 10%;
      }

      #what {
        max-width: 40%;
      }

      #target {
        width: 20%;
      }

      #chapters {
        width: 30%;
      }
    }
  }

  @media (max-width: 659px) {
    .calendar-table {
      width: 100%;
      display: block;
      overflow-x: auto;
    }
  }

  .download-btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 0.5em;

    .download-btn {
      padding: 0.4em 0.5em;
      line-height: normal;
      border: none;
      color: white;
      background: var(--color-primary-light);
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 0.4em;

      &:hover {
        color: white;
        opacity: 0.5;
      }
    }
  }

  .calendar-form-container {
    hr {
      border: 0.5px solid #8c3c4f
    }

    .calendar-form {
      .calendar-title-prefix-hint {
        font-weight: 200;
        font-size: 15px;
        width: 200px;
      }

      list-style-type: none;
      padding: 0;
      max-width: 50%;

      @media (max-width: 770px) {
        max-width: 90%;
        label {
          min-width: 80px;
        }
      }

      label {
        min-width: 200px;
      }

      li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;

        #puffer {
          width: 200px;
        }

        #responsible {
          width: 200px;
        }
      }
    }
  }
}