@import './fonts/fonts.css';
@import './styles/section.less';
@import './styles/chapter.less';
@import './styles/nav.less';
@import './styles/calendar.less';
@import './styles/footer.less';

@color-primary: #521d3a;
@color-primary-light: #8c3c4f;

:root {
  --color-primary: @color-primary;
  --color-primary-light: @color-primary-light;
}

html,
body {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
}

img {
  max-width: 100%;
}

h1, h2, h3 {
  color: @color-primary-light
}

h1 {
  font-weight: 700;
  font-size: 70px;
  padding-bottom: 0.1em;
}

h2 {
  font-size: 35px;
  font-weight: 300;
  padding-bottom: 0.4em;
}

.bg-primary {
  background-color: @color-primary !important;
}

.bg-secondary {
  background-color: @color-primary-light !important;
}

a {
  font-weight: 400;
  color: @color-primary-light;
  text-decoration: none;
  opacity: 1;
}

a:focus,
a:hover,
a:active,
a.active {
  opacity: 0.8;
}

p {
  font-weight: 300;
  padding-bottom: 1em;
  font-size: 18px;
}

p,
ul,
li,
a,
span,
div {
  line-height: 1.5;
  font-size: 15px;
}

@media (max-width: 659px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 20px;
  }

  .App, #root {
    display: block;
  }

  .content-main {
    margin: 40px 10px;
  }
}

@media (min-width: 660px) {
  h1 {
    font-size: 34px;
  }

  h2 {
    font-size: 28px;
  }

  p,
  ul,
  li,
  a,
  span,
  div,
  h2 .btn {
    font-size: 16.25px;
  }

  .content-main {
    margin: 0 5rem 0 3rem;
  }
}

@media (min-width: 860px) {
  p,
  ul,
  li,
  a,
  span,
  div,
  h2 .btn {
    font-size: 17.5px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }
}

@media (min-width: 1100px) {
  p,
  ul,
  li,
  a,
  span,
  div,
  h2 .btn {
    font-size: 18.75px;
  }

  .content-main {
    margin: 0 9rem 0 6rem;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 30px;
  }
}

@media (min-width: 1300px) {
  p,
  ul,
  li,
  a,
  span,
  div,
  h2 .btn {
    font-size: 20px;
  }

  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 40px;
  }
}

li {
  font-weight: 300;
}

table {
  td {
    border-top: 1px solid @color-primary-light;
    padding: 5px;
    margin: 0;
  }

  tr {
    font-weight: 300;
  }
}

button {
  font-size: 1em;
  padding: .5em;
  text-align: center;
  min-width: 5em;
  background-color: @color-primary-light;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin: 0.5em 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8em;
  height: 100vh;
  background: @color-primary;
  color: #fff;

  .lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }

  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    animation: lds-grid 1.2s linear infinite;
  }

  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }

  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }

  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }

  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }

  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }

  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }

  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }

  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }

  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }

  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}